/* Write your code here. */
.list-container {
  list-style-type: none;
  background-color: #ffffff33;
  border-radius: 20px;
  margin: 20px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  border: none;
  background-color: transparent;
}
.emoji-image {
  height: 50px;
  width: 50px;
}
