/* Write your code here. */
.bg-container {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  height: 100vh;
  background-size: cover;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.unorder-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100vh;
  flex-grow: 1;
}
